<div class="leprogress">
<{include file="db:`$dirname`_inc_menu.html"}>
<{if $actionForm->hasError()}>
  <ul class="alert alert-error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>

<h1><{$smarty.const._MD_LEPROGRESS_LANG_APPROVAL_EDIT}></h1>
<form class="form-horizontal" action="<{xoops_cooluri dirname=$dirname dataname=approval data_id=$object->getShow('approval_id') action=edit}>" method="post">
  <div class="control-group">
    <label><{$smarty.const._MD_LEPROGRESS_LANG_UID}></label>
    <div class="controls">
      <{xoops_input type=text name=uid value=$actionForm->get('uid')}>
    </div>
  </div>
  <div class="control-group">
    <label><{$smarty.const._MD_LEPROGRESS_LANG_TARGET_MODULE}></label>
    <div class="controls">
      <select name="target">
    		<{foreach item=target from=$list}>
    			<option value="<{$target.dirname|cat:"|"|cat:$target.dataname}>"<{if $target.dirname|cat:"|"|cat:$target.dataname==$actionForm->get('dirname')|cat:"|"|cat:$actionForm->get('dataname')}> selected="selected"<{/if}>><{$target.dirname}> - <{$target.dataname}></option>
    		<{/foreach}>
    	</select>
    </div>
  </div>
  <div class="control-group">
    <label><{$smarty.const._MD_LEPROGRESS_LANG_STEP}></label>
    <div class="controls">
      <{xoops_input type=text name=step value=$actionForm->get('step')}>
    </div>
  </div>
  <div class="form-actions">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=approval_id value=$actionForm->get('approval_id')}>
    <button type="submit" class="btn btn-primary" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
    <button type="submit" class="btn" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"><{$smarty.const._CANCEL}></button>
  </div>
</form>
</div>
