<ul class="nav nav-pills">
    <li><a href="<{xoops_cooluri dirname=$dirname dataname=mytask action=list}>"><{$smarty.const._MD_LEPROGRESS_LANG_MYTASK_LIST}></a></li>
    <li><a href="<{xoops_cooluri dirname=$dirname dataname=item}>"><{$smarty.const._MD_LEPROGRESS_LANG_ITEM_LIST}></a></li>
    <{if $xoops_isadmin}>
	<li><a href="<{xoops_cooluri dirname=$dirname dataname=approval}>"><{$smarty.const._MD_LEPROGRESS_LANG_APPROVAL_LIST}></a></li>
    <li><a href="<{xoops_cooluri dirname=$dirname dataname=approval action=edit}>"><{$smarty.const._MD_LEPROGRESS_LANG_ADD_A_NEW_APPROVAL}></a></li>
	<{/if}>
</ul>
